[flake8]
max-line-length = 90

exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    settings.py,
    __init__,
    migrations,

per-file-ignores =
    */urls.py: E501
    website/apps.py: F401