Django==6.0.6
djangorestframework==3.16.0
python-decouple==3.8
psycopg2-binary==2.9.9
pillow==12.3.0
flake8
black
drf-yasg[validation]
djangorestframework-simplejwt
redis==5.0.1
django-redis==5.4.0
celery==5.4.0
flower==2.0.1

pytest
pytest-django
pytest-cov
factory-boy
pytest-factoryboy